{% extends 'pages/base.html' %} 
{% block title %} {{title}} {% endblock %} 
{% block header_title %} {{subtitle}} {% endblock %} 

{% block content %} 
<div class="card mb-3"> 
  <div class="row g-0"> 
    <div class="col-md-4"> 
      <img src="https://static.djangoproject.com/img/logos/django-logo-positive.svg" class="img-fluid rounded-start"> 
    </div> 
    <div class="col-md-8"> 
      <div class="card-body"> 
        <h5 class="card-title"style="color:{% if product.price > 2000 %}red{% else %}black{% endif %};"> 
          {{product.name}} 
        </h5> 
        <p>Price: ${{ product.price }}</p> 
      </div> 
    </div> 
  </div> 
</div>

<hr>

<h4>Comments</h4>

{% if comments %}
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                {{ comment.content }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No comments yet.</p>
{% endif %}
{% endblock %}